body{
    background: linear-gradient(105deg, rgba(240, 239, 244, 1), rgba(115, 202, 150, 1))
}

.background{
    height: 860px;
}

h1{
    text-align: center;
    padding-top: 20px;
}

.index{
    text-align: center;
}

#index:hover{
    color: white;
}

/* This is the start of the new_user.html */


#home:hover{
    color: white;
}

.create{
    display: flex;
}

#create{
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid white;
    padding-right: 32px;
    padding-top: 5px;
}

#input,#label{
    font-size: 20px;
}

#clear{
    text-align: center;
    font-size: 14px;
}

#clear:hover{
    color: white;
}

/* This is the start of show_user.html*/

.header{
display:flex;
}

#home,#edit,#delete{
    margin: 0 auto;
}

#home:hover,#edit:hover,#delete:hover{
color: white;
}

/* This area is for the All Users Page */
p{
    font-size: 48px;
    text-align: center;
    color: gray;
}

#table{
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    border: 3px solid white;
}

.table-s{
    height: 1200px;
}

#add_user{
    margin-left: 24%;
}

/* Edit Page */

.home{
    margin-left: 48%;
}

#title{
    margin: 0 auto;
}